
@{
    ViewBag.Title = "Доставка";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-md-6 text-center">
                <h2>Доставка</h2>
            </div>
        </div>
        <div class="row d-flex justify-content-center mt-3">
            <div class="col-md-8">
                <h4>Способи доставки</h4>
                <p class="text-muted">
                    Інтернет-магазин Online Store пропонує своїм клієнтам прості і надійні способи доставки
                </p>
                <p>
                    1. Доставка «Новою Поштою»
                </p>
                <p class="text-muted">
                    Доставка в усі міста України здійснюється транспортною та кур'єрською організацією
                    «Нова Пошта» наложеним платежем або на умовах передоплати. Всі товари, які відправляються
                    службами доставки, застраховані. Тому доставка товарів є цілком безпечною.
                    Розрахувати вартість доставки службою «Нова пошта» можна за цим посиланням:
                    <a href="https://novaposhta.ua/delivery" target="_blank">вартість доставки</a>
                    <br />
                    Cписок відділень «Нової Пошти» можна переглянути за цим посиланням:
                    <a href="https://novaposhta.ua/office" target="_blank">список відділень</a>
                </p>
                <p>
                    2. Самовивіз з магазину
                </p>
                <p class="text-muted">
                    У місті Київ працює магазин, де ви можете перевірити і забрати товар. Адреса та графік роботи
                    магазину, а також схема проїзду до нього є в розділі «<a href="@Url.Action("Contact", "Home")" target="_blank">Контакти</a>».

                    Послуга самовивозу безкоштовна.
                </p>
            </div>
        </div>
    </div>

