
@{
    ViewBag.Title = "Оплата";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-md-6 text-center">
                <h2>Оплата</h2>
            </div>
        </div>
        <div class="row d-flex justify-content-center mt-3">
            <div class="col-md-8">
                <h4>Способи оплати</h4>
                <p class="text-muted">
                    Інтернет-магазин Online Store пропонує своїм клієнтам прості і надійні способи оплати
                </p>
                <p>
                    1. Оплата готівкою
                </p>
                <p class="text-muted">
                    - при самовивозі товару з нашого магазину оплата здійснюється безпосередньо в момент
                    отримання, після перевірки товару <br />
                    - при доставці товару транспортною та кур'єрською організацією
                    «Нова Пошта» наложеним платежем оплата здійснюється у відділеннях самовивозу готівкою
                </p>
                <p>
                    2. Оплата на картку ПриватБанку
                </p>
                <p class="text-muted">
                    Після вибору даного способу оплати і підтвердження замовлення нашим менеджером ви
                    отримаєте sms-повідомлення, в якому будуть вказані реквізити для оплати. <br /> <br />
                    Отримання замовлень, сплачених таким способом, можливо при наявності документа, 
                    що посвідчує особу одержувача, зазначеного при оформленні замовлення.
                </p>
            </div>
        </div>
    </div>

